@import './variables';

.container {
  width: 100%;
  padding-left: 88px;
  padding-right: 88px;
}

.button {
  position: relative;
  font-family: $font-main;

  &--big {
    width: 100%;
    max-width: 364px;
    padding: 14px;
    color: $white;
    font-size: 16px;
    text-align: center;
    background-color: $color-main;
    border-radius: 8px;
    transition: all 0.2s linear;

    &:hover,
    &:focus {
      outline: none;
      background-color: $color-secondary;
    }
  }
}
