html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: inherit;
}

input {
  border: none;
}
